{% extends 'admin/base.html.twig' %}

{% block title %}Edition d'une annonce{% endblock %}
{% form_theme form _self %}
{% block body %}
    <div class="container-fluid">
        <h1 class="my-5">Modifier l'annonce : <br>{{ ad.title }}</h1>
        <h2 class="my-3">Corriger l'annonce ?</h2>
        {{ form_start(form) }}

        <div class="row">
            <div class="col">
                <div class="card bg-light">
                    <div class="card-header">
                        <h4 class="card-title">Corriger l'annonce ?</h4>
                    </div>
                    <div class="card-body">
                        {{ form_widget(form) }}
                        <button type="submit" class="btn btn-primary float-right">
                            <i class="fas fa-save"></i>
                            Enregistrer les modifications
                        </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-light">
                    <div class="card-header">
                        <h4 class="card-title">Les réservations</h4>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Voyageur</th>
                                <th>Date de réservation</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for booking in ad.bookings %}
                                <tr>
                                    <th>{{ booking.id }}</th>
                                    <th>{{ booking.booker.fullName }}</th>
                                    <th>{{ booking.createdAt | date('d/m/y H:i') }}</th>
                                    <th>
                                        <a href="#" class="btn btn-primary">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                    </th>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card bg-light mt-5">
                    <div class="card-header">
                        <h4 class="card-title">Les commentaires</h4>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Voyageur</th>
                                <th>Note</th>
                                <th>Commentaire</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for comment in ad.comments %}
                                <tr>
                                    <th>{{ comment.id }}</th>
                                    <th>{{ comment.author.fullName }}</th>
                                    <th>{{ comment.rating }}</th>
                                    <th>{{ comment.content }}</th>
                                    <th>
                                        <a href="{{ path('admin_comment_edit', {'id': comment.id}) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                                        <a href="{{ path('admin_comment_delete', {'id': comment.id}) }}" class="btn btn-danger" onclick="return confirm(`Etes vous sur de vouloir supprimer le commentaire : {{ comment.author.fullName }} ?`)"><i class="fas fa-trash"></i></a>
                                    </th>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
{% block _annonce_images_widget %}
    {{ form_widget(form) }}
{% endblock %}
{% block _annonce_images_entry_row %}
    <div id="block_{{ id }}">
        {{ form_widget(form) }}
    </div>
{% endblock %}
{% block _annonce_images_entry_widget %}
    <div class="row align-items-center mb-3">
        <div class="col-4">
            {% if value %}
                <img src="{{ value.url }}" alt="" class="img-fluid">
            {% endif %}
        </div>
        <div class="col-6">
            {{ form_row(form.caption) }}
        </div>
        <div class="col">
            <button type="button" data-action="delete" data-target="#block_{{ id }}" class="btn btn-danger">
                <i class="fas fa-trash-alt"></i>
            </button>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="/js/ad.js "></script>
{% endblock %}