{% extends 'admin/base.html.twig' %}

{% block title %}Administration des utilisateurs !{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-5">Gestion des utilisateurs</h1>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Utilisateur</th>
                <th>Email</th>
                <th>Annonces</th>
                <th>Réservation</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for user in pagination.data %}
                <tr>
                    <td>
                        {{ user.id }}
                    </td>
                    <td>
                        <img src="{{ user.picture }}" alt="Avatar de {{ user.fullName }}" class="avatar avatar-micro mr-2">
                        {{ user.fullName }}
                    </td>
                    <td>
                       {{ user.email }}
                    </td>
                    <td class="text-center">
                        <span class="badge badge-primary rounded">{{ user.ads | length }}</span>
                    </td>
                    <td class="text-center">
                        <span class="badge badge-primary rounded">{{ user.bookings | length }}</span>
                    </td>
                    <td>
                        <a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                        <a href="{{ path('admin_user_delete', {'id': user.id}) }}" class="btn btn-danger" onclick="return confirm(`Etes vous sur de vouloir supprimer l'utilisateur : {{ user.fullName }} ?`)"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ pagination.display() }}
    </div>
{% endblock %}
